.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #222233;
}

.hero-content h1 {
    font-size: 36px;
    color: #d9d9ff;
}

.hero-content p {
    margin: 20px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;

    line-height: 19.5px;
    color: rgba(255, 225, 225, 1);
    width: 450px;
    height: 72px;
    top: 451px;
    left: 84px;
    gap: 0px;
    opacity: 0px;

}

.hero-content .btn {
    width: 214px;
    height: 48px;
    top: 589px;
    left: 84px;
    gap: 0px;
    border-radius: 40px 0px 0px 0px;
    opacity: 0px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);

    padding: 10px 20px;
    border: none;
    color: rgba(52, 48, 69, 1);

    border-radius: 50px;
    cursor: pointer;


}

#arrow {
    color: #a9a9c5;
    width: 100px;
height: 100px;
top: 563px;
left: 309px;
padding: 33.33px 29.17px 33.33px 29.17px;
gap: 0px;
opacity: 0px;

}
.hero-image img{
    width: 490px;
height: 426px;
top: 265px;
left: 848px;
gap: 0px;
opacity: 0px;
width: 490px;
height: 426px;
top: 265px;
left: 848px;
border-radius: 100px 100px 100px 240px;

}

/* contact css */

.contact-info{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-radius: 50px;
    margin-top: 20px;
    width: 1272px;
height: 167px;
top: 794px;
left: 84px;
gap: 0px;
border-radius: 90px 0px 0px 0px;
opacity: 0px;
background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);



}
.contact-box  h3{
    color: #d9d9ff;
    font-size: 18px;


}
.contact-box  p{
    color: #a9a9c5;
    font-size: 14px;
    
}
.contact-box{

    text-align: center;
    max-width: 300px;
    padding:10px ;

}


