* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font: montserrat;
    background-color: #1e1e2e;
    color: #ffffff;
    justify-content: center;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1a1a27;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    width: 76px;
    height: 46px;
    top: 79px;
    left: 201px;




}

span {
    color: #a9a9c5;
}

h1 span {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;

}